table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 25%;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

th {
    background-color: grey;
    color: black;
}

td:hover {
    background-color: yellow;
}

#find-recipes {
    margin-top: 10px;
}

#clear-all-ingredients {
    margin-top: 5px;
}

#delete-ingredient {
    margin-top: 5px;
}
  
.hidden {
    display: none;
}